

.hidden {
    visibility: hidden;
}

#about-cta {
    z-index:4;
}

.show {
    animation: opacity 2s ease-out forwards 2s;
}

.rotate {
    transform: rotate(1turn);
    transition: transform 2000ms ease-in-out 0.5s;
}

.move-left {
    transform: translateX(-2200px);
    transition: transform 2000ms ease-in-out 0.5s;
}

.move-right {
    transform: translateX(2200px);
    transition: transform 2000ms ease-in-out 0.5s;
}

@keyframes opacity {
    to {
        z-index:6;
    }
}
